@model NetSolutionWeb.Models.Testimonial

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4 myfont">Delete Testimonial</h1>
</div>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TestimonialText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TestimonialText)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TestimonialID" />
        <input type="submit" value="Delete Testimonial" class="btn btn-danger" /> 
    </form>
</div>
